body{
  background-color:#bbccdd;
}

/* General sizing */
ul.dropdown-lr {
  width: 300px !important;
}

/* mobile fix */
@media (max-width: 768px) {
  .dropdown-lr h3 {
    color: #eee;
  }
  .dropdown-lr label {
    color: #eee;
  }
}

.page-header {
  margin-top: 8px !important;
}

.tabpanel {
  min-height: 600px;
  overflow: scroll;
}

.file-upload {
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  margin: 8px; }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.well {
  padding: 10px !important;
}